.DS_Store
node_modules
.idea
package-lock.json
/build
.vscode/
.idea/
vite.config.*s.*

# Log files
*.log

# Runtime artifacts
installer.lock
server/installer.lock

# Environment files
.env
server/.env
